body{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.logo-img{
    width: 300px;
}
h1{
    font-weight: 900;
}
.pro-img{   
    height: 400px;
    padding: 10px;
}
.img-icon{
    height: 80px;
    width: 80px;
}
@media (max-width: 688px) {
    .top-header{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}